{% extends "base.html" %}
{% load static %}
{% block content %}
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user-md"></i>Blog Article</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{% url 'articles' %}">Articles List</a></li>
              <li><i class="fa fa-pencil"></i><a href="{% url 'update-article' article.pk %}">Update Article</a></li>
              <li><i class="fa fa-user-md"></i>Blog Article</li>
            </ol>
          </div>
        </div>
        <div class="row">
<section>
  <div id="profile" class="tab-pane">
    <section class="panel">
      <div class="panel-body bio-graph-info">
        <h1>{{article.title}}</h1>
        <div class="row">
          {{article.body | safe}}
        </div>
      </div>
    </section>
  </div>
</section>

  </section>
</section>

{% endblock content %}
